.bgbox {
  background: linear-gradient(to right, #0000d5, #030193);/* Purple background color */
  padding: 50px 0;
  /* Take the full width of the content */
  display: flex; /* Make it a flex container */
  flex-direction: column; /* Stack the content vertically */
  align-items: center; /* Center the content horizontally */
  min-height: 100vh; 
  border-radius: 2rem;
  margin-left: 60px;
  margin-right: 60px;
  position: relative; /* Add this to make the bubbles relative to the bgbox */
  overflow: hidden; /* Add this to hide the bubbles when they go outside the bgbox */
}

.bgbox-wrapper {
  margin-bottom: 4rem; /* add margin bottom to create space */
}

.bubbles {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  top: 0;
  left: 0;
}

.bubble {
  position: absolute;
  bottom: -100px;
  width: 40px;
  height: 40px;
  background: #ffffff;
  border-radius: 50%;
  opacity: 0.5;
  animation: rise 15s infinite ease-in; /* Increased animation duration to 15s */
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1); /* Changed the animation timing function to make the bubbles accelerate faster */
}

.bubble:nth-child(1) {
  width: 40px;
  height: 40px;
  left: 10%;
  animation-duration: 12s; /* Increased animation duration to 12s */
}

.bubble:nth-child(2) {
  width: 20px;
  height: 20px;
  left: 20%;
  animation-duration: 15s; /* Increased animation duration to 15s */
  animation-delay: 1s;
}

.bubble:nth-child(3) {
  width: 50px;
  height: 50px;
  left: 35%;
  animation-duration: 18s; /* Increased animation duration to 18s */
  animation-delay: 2s;
}

.bubble:nth-child(4) {
  width: 80px;
  height: 80px;
  left: 50%;
  animation-duration: 20s; /* Increased animation duration to 20s */
  animation-delay: 1s;
}

.bubble:nth-child(5) {
  width: 35px;
  height: 35px;
  left: 55%;
  animation-duration: 16s; /* Increased animation duration to 16s */
  animation-delay: 2s;
}

.bubble:nth-child(6) {
  width: 45px;
  height: 45px;
  left: 65%;
  animation-duration: 19s; /* Increased animation duration to 19s */
  animation-delay: 3s;
}

.bubble:nth-child(7) {
  width: 90px;
  height: 90px;
  left: 70%;
  animation-duration: 22s; /* Increased animation duration to 22s */
  animation-delay: 2s;
}

.bubble:nth-child(8) {
  width: 25px;
  height: 25px;
  left: 80%;
  animation-duration: 17s; /* Increased animation duration to 17s */
  animation-delay: 3s;
}

.bubble:nth-child(9) {
  width: 15px;
  height: 15px;
  left: 70%;
  animation-duration: 14s; /* Increased animation duration to 14s */
  animation-delay: 2s;
}

.bubble:nth-child(10) {
  width: 90px;
  height: 90px;
  left: 25%;
  animation-duration: 21s; /* Increased animation duration to 21s */
  animation-delay: 4s;
}

@keyframes rise {
  0% {
    bottom: -100px;
    transform: translateX(0);
  }
  50% {
    transform: translate(150px); /* Increased the translation to make the bubbles move faster */
  }
  100% {
    bottom: 100vh; /* Change this to 100vh to make the bubbles disappear at the top of the bgbox */
    transform: translateX(-250px); /* Increased the translation to make the bubbles move faster */
  }
}


/* Flexbox layout for team members */

.heading{
  font-size: 4rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #ffffff;
  text-decoration: underline;
}

.meet-our-team:hover .heading {
  transform: scale(1.1);
  transition: transform 0.3s ease-in;
}

.team-member-role {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
  padding-left: 4rem;
  color: azure;
}






.card {
  background-color: #e0e0e1;
  border-radius: 1rem;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  margin: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  width: 280.137px; 
  height: 387.387px;
}

.card:hover {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.2));
  transform: scale(1.10); /* Scale up by 25% */
}

.team-member {
  margin: 20px;
  text-align: center;
  width: calc(25% - 40px);
}

.team-member:nth-child(n+5) {
  margin-top: 50px;
}

.team-members {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 5rem; /* Adjust the gap between the cards as needed */
  justify-content: center; /* Center the items horizontally */
  align-content: center; /* Center the items vertically */
  margin-top: 20px;
}




.team-members2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px; /* Adjust the gap between the cards as needed */
  margin-top: 20px;
  
}

@media (max-width: 768px) {
  .team-members2 {
      grid-template-columns: 1fr; /* 1 column in a row (vertical layout) */
  }
}
.team-members3 {
  margin-top: 50px;
  padding: 0 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}


.team-member:first-child {
  margin-right: 15px;
}

.team-member:last-child {
  margin-left: 15px;
}

.team-member-name {
  position: relative;
  display: inline-block;
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin-top: 2px;
  overflow: hidden;
  font-family: 'Poppins';
  left: 12px;
   top: -12px; 
   width: 225.2px;
   position: relative;
}


.team-member-name:hover::before {
  width: 100%;
}

.team-member-position {
  position: relative;
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
  color: #000000;
  margin-top: 1px;
  overflow: hidden;
  font-family: 'Poppins';
  top: 45px; left: -114px;  
  transition: none;
  left: 80px;
  top: -34px;
  height: 22.4px; 
  left: 112px;
  width: 147.175px; 
  transform: translate(-67.2px, 2.39999px); 
  left: 115px;
}

.team-members:last-child {
  justify-content: center;
  gap: 1rem;
  padding: 0 15px;
}

.team-members:last-child .team-member {
  flex-basis: calc(50% - 15px);
}


.image-container {
  position: relative;
  display: inline-block;
  transition: transform 0.3s ease; /* Add transition for scaling effect */
}

.rounded-avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin-bottom: 10px;
  transition: box-shadow 0.3s ease, transform 0.3s ease; /* Add transition for scaling effect */
}

/* Hover effect to scale up the image */
.image-container:hover .rounded-avatar {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.2));
  transform: scale(1.07); /* Scale up by 25% */
}

/* Social media icons styling */
.social-media-icons {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  gap: 10px;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 20px;
}

.social-media-icons a {
  font-size: 20px;
  color: white;
}

/* Hover effect to show social media icons */
.image-container:hover .social-media-icons {
  opacity: 1;
}

.social-media-icons a:hover {
  transform: scale(1.5);
  transition: transform 0.1s ease-in;
}
/* General heading styling */
.heading {
  font-size: 4rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
